@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-container {
  background-color: beige;
  padding: 25px;
}

.nav-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-weight: 500;
}

.brand-name {
  font-size: 1.8rem;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-content {
  text-align: center;
  max-width: 850px;
  margin: 25px auto;
}

.banner-heading {
  font-size: 4rem;
  margin-bottom: 10px;
}

.explore-button {
  background-color: orange;
  color: white;
  padding: 20px 35px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

.feature-container {
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  gap: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

.fact-section {
  max-width: 1400px;
  margin: auto;
}

.box {
  border: 1px solid gray;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 80px;
}

.number {
  font-size: 35px;
}

.some-text {
  font-size: 50px;
  margin-bottom: 10px;
}

.some-p {
  max-width: 600px;
  padding: 10px;
}

.sponser-section {
  max-width: 1400px;
  margin: auto;
}

.sponser-container {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

/* responsive mobile section  */

@media screen and (max-width: 576px) {
  .banner-images {
    width: 100%;
  }

  .nav-container {
    flex-direction: column;
  }

  .nav-links {
    flex-wrap: wrap;
  }

  .feature-container {
    flex-direction: column;
  }

  .images-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .features-text-container {
    text-align: center;
  }

  .fact-container {
    flex-direction: column;
  }

  .sponser-container {
    flex-direction: column;
  }
}
